target
.idea
.scannerwork
*.log

# Helm charts
charts/Chart.lock
charts/*/Chart.lock
charts/values*.yaml
charts/*/values*.yaml
charts/values*.bak
charts/*/values*.bak
charts/charts/*
charts/*/charts
charts/values.yaml
charts/*/values.yaml

.DS_Store
.bsp
/project/metals.sbt
/project/.bloop
/project/*
/.metals
/.bloop
/.vscode
/temp
